<div class="page-container">
    <div class="form-container">
      <h2>Añadir nueva categoría</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="category-name">Nombre de la categoría</label>
          <input
            type="text"
            id="category-name"
            name="category-name"
            [(ngModel)]="category.name"
            required
          />
        </div>
        <div class="button-group">
          <button type="button" class="button cancel" (click)="cancel()">Cancelar</button>
          <button type="submit" class="button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  
