<div class="dashboard-container">
    <div class="card">
      <h2>Categorías</h2>
      <div class="toolbar">
        <button class="button" (click)="addCategory()">Nueva categoría</button>
        <input type="text" placeholder="Buscar categoría" class="search-input" [(ngModel)]="searchTerm" (keyup)="onSearch()">
  
      </div>
      <div class="category-grid">
        <div *ngFor="let category of categories" class="category-card">
          <h3 class="category-name">{{ category.name }}</h3>
          <div class="category-actions">
            <button class="button edit" (click)="openEditDialog(category)">Editar</button>
            <button class="button delete" (click)="openDeleteDialog(category)">Eliminar</button>
          </div>
        </div>
      </div>
  
      <!-- Botones de navegación -->
      <div class="pagination-controls">
        <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Anterior</button>
        <span>Página {{ page + 1 }} de {{ totalPages }}</span>
        <button (click)="onPageChange(page + 1)" [disabled]="page + 1 === totalPages">Siguiente</button>
      </div>
    </div>
  </div>
