<div class="dashboard-container">
  <div class="card">
    <h2>Descuentos</h2>
    <div class="toolbar">
      <button class="button" (click)="addDiscount()">Nuevo Descuento</button>
  
      <!-- Inputs para el rango de porcentaje -->
      <input type="number" placeholder="Mín % Descuento" class="search-input" [(ngModel)]="minPercentage">
      <input type="number" placeholder="Máx % Descuento" class="search-input" [(ngModel)]="maxPercentage">
      <button class="button" (click)="onSearch()">Buscar</button>
    </div>
    <div class="table-container">
      <table class="discount-table">
        <thead>
          <tr>
            <th>Porcentaje</th>
            <th>Producto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let discount of discounts">
            <td>{{ discount.percentage }}%</td>
            <td>
              <!-- Mostrar solo el nombre del producto relacionado -->
              <span>{{ discount.product.name }}</span>
            </td>
            <td class="action-buttons">
              <button class="button edit" (click)="openEditDialog(discount)">Editar</button>
              <button class="button delete" (click)="openDeleteDialog(discount)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Botones de navegación -->
      <div class="pagination-controls">
        <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Anterior</button>
        <span>Página {{ page + 1 }} de {{ totalPages }}</span>
        <button (click)="onPageChange(page + 1)" [disabled]="page + 1 === totalPages">Siguiente</button>
      </div>
    </div>
  </div>
</div>
